<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/forget.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    
    <div class="row">
		<h1>Forgot Password</h1>
		<h6 class="information-text">Your Registery Token Will be</h6>
		<div class="form-group">
            <form action="/resetpassword" method="post">
                
                <input hidden type="text" name="token" id="user_email" value="<%= user.token %>" readonly>
                <!-- <p><label for="username">Your Token</label></p> -->
                <input type="password" name="password" id="user_email">
                <p><label for="username">Enter a new password</label></p>
                <button type="submit">Reset Password</button>
            </form>
		</div>
		<div class="footer">
			<h5>New here? <a href="/">Sign Up.</a></h5>
			<h5>Already have an account? <a href="/login">Sign In.</a></h5>
		</div>

        
</body>
</html>